<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/js/json2.js"></script>
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <link href="/css/main.css" rel="stylesheet" media="all">
        <style>
            li {
                width: 190px;
            }
            li.win {
                background-color: green;
            }
            li.loose {
                background-color: red;
            }
            li.not_play {
                background-color: gray;
            }
        </style>
    </head>
    <body>

        <div id="widget">
            <button id="win">Выиграл</button>
            <button id="loose">Проиграл</button>
        </div>

        <div id="shoots">
            <button id="hit">Попал</button>
            <button id="miss">Промазал</button>
        </div>
        <ul id="bar">

        </ul>


        <script type="text/html" id="status_bar">
            <li class="<%= status %>">d(набрано <%= score %>)(shoot <%= shoot %>)</li>
        </script>

    </body>
</html>
